language: python
python:
  - "3.7"
  - "3.8"
  - "3.8-dev"  # 3.8 development branch
  - "nightly"  # nightly build
# command to install dependencies
install:
  - pip install -r requirements-test.txt
  - pip install -e .
# command to run tests
script:
  - flake8 --max-line-length=127 --statistics --count --exit-zero
#  - pytest -v --cov=plogger --cov-report=term-missing
after_success:
  - coveralls